# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\CS152\HW4\CS152_HW4_2020Fall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
